/************ 
    GLOBAL
************/

body {
    box-sizing: border-box;  
    background-color: aliceblue;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: azure;
}

h2 {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 2rem auto .25rem;
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
    background-color: darkslategray;
    padding: 1rem 0;
}

fieldset {
    border: none;
    padding: 0;
}

p {
    margin: auto;
}

legend {
    margin: 2rem 0 1.5rem;
}

form, p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input, select, label {
    margin-bottom: .75rem;
}

input, select {
    flex-basis: 100%;
    padding: .75rem;
    border-radius: 5px;
    background-color: lightgray;
    box-sizing: border-box;
    border: none;
    /* Idea from https://css-tricks.com/almanac/properties/t/transition/ */
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

label {
    flex-basis: 100%;
    align-items: center;
    display: flex;
}

textarea {
    margin: 0 0 1.5rem;
    resize: none;
    flex-basis: 0;
    padding: .75rem;
    border-radius: 5px;
    background-color: lightgray;
    box-sizing: border-box;
    border: none;
}

button {
    flex-basis: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: darkseagreen;
    box-sizing: border-box;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkslategray;
}

footer {
    text-align: center;
}


/************ 
    LOCAL
************/

.container {
    margin: auto;
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding: 0 2rem;
    box-sizing: border-box;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

.intro {
    text-align: center;
}

hr {
    border: solid;
    border-width: 1px;
    width: 100%;
    color: black;
    box-sizing: border-box;
    margin: 0;
}

.thicker {
    border: solid;
    border-width: 2px;
    width: 100%;
    box-sizing: border-box;
    margin: 1.5rem 0 .25rem;
}


#mid {
    margin: 2.5rem 0 calc(2.5rem - 2rem);
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid darkslategrey;
    box-sizing: border-box;
    background-color:ivory;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}
  
  ::placeholder {
    color: grey;
    font-style: italic;
    text-align: right;
  }

  select {
    color: gray;
  }

 .newsletter input  {
    flex-basis: 0;
    padding: .75rem;
    border-radius: 5px;
    background-color: lightgray;
    box-sizing: border-box;
    border: none;
    margin-right: .5rem;
}

#zipcode {
    max-width: 50%;
  }

input + label {
    flex-basis: calc(100% - 22px);
    align-items: center;
    display: flex;
    margin-bottom: .25rem;
}

.newsletter p:first-of-type, textarea, .instruction {
    flex-basis: 100%;
}

.newsletter label:first-of-type {
   margin-top: 0;
}

.newsletter legend:last-of-type {
    margin-bottom: 0;
 }

.instruction {
    margin: 1.5rem 0 .5rem;
}

.newsletter input {
    margin-bottom: initial;
}

footer {
    margin: 2rem 0 1rem;
}

footer p {
    font-size: 1rem;
    font-style: italic;
}

/************ 
MEDIA QUERIES
************/

/* For screens over 768 pixels */
@media screen and (min-width: 768px) {
    .container {
        max-width: 60%;
        text-align: left;
        padding: 0 2rem;
    }
    input, select {
        flex-basis: 70%;
    }
    
    label {
        flex-basis: calc(30% - 10px);
    }
    #zipcode {
        max-width: 25%;
      }
}

/* For screens over 1200 pixels */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 40%;
        text-align: left;
    }
    input, select {
        flex-basis: 70%;
    }
    
    label {
        flex-basis: calc(30% - 10px);
    }
}